In [2]:
import pandas as pd 
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
obj1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [5]:
obj1.iloc[0]

35000

In [6]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [7]:
obj3 = pd.isnull(obj2)
obj3

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [20]:
x = obj2['California']
obj2['California'] != x

True

In [18]:
pd.isna(obj2['California'])

True

In [23]:
import math
math.isnan(obj2['California'])

True

In [25]:
obj3['California'] == None

False

In [26]:
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)
S

1    Alice
2      Bob
3     Rita
4    Molly
5     Ryan
dtype: object

In [27]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [6]:
import pandas as pd 
df = pd.read_csv('/content/class_grades.csv')
df.head()

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17      NaN     63.15  48.89
3       7         NaN       NaN    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89

In [8]:
df1=df.rename(mapper=lambda x: x.upper(), axis='columns')
df1.head()

   PREFIX  ASSIGNMENT  TUTORIAL  MIDTERM  TAKEHOME  FINAL
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17      NaN     63.15  48.89
3       7         NaN       NaN    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89

    PREFIX  ASSIGNMENT  TUTORIAL  MIDTERM  TAKEHOME  FINAL
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17      NaN     63.15  48.89
3        7         NaN       NaN    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8         NaN    103.71    45.00     93.52  61.94
95       7         NaN     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[99 rows x 6 columns]

In [11]:
df = pd.read_csv('/content/Admission_Predict.csv', index_col=0)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [12]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [15]:
df = df.loc[:, ['GRE Score', 'TOEFL Score']]
df.head()

            GRE Score  TOEFL Score
Serial No.
1                 337          118
2                 324          107
3                 316          104
4                 322          110
5                 314          103

In [16]:
df[df['TOEFL Score'] > 105].head()

            GRE Score  TOEFL Score
Serial No.
1                 337          118
2                 324          107
4                 322          110
6                 330          115
7                 321          109

In [18]:
df.where(df['TOEFL Score'] > 105).dropna().head()

            GRE Score  TOEFL Score
Serial No.
1               337.0        118.0
2               324.0        107.0
4               322.0        110.0
6               330.0        115.0
7               321.0        109.0

In [19]:
df = pd.read_csv('/content/Admission_Predict.csv', index_col=0)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [20]:
df.columns = [x.lower().strip() for x in df.columns]
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [21]:
df = df[['gre score', 'toefl score']]
df.head()

            gre score  toefl score
Serial No.
1                 337          118
2                 324          107
3                 316          104
4                 322          110
5                 314          103

In [29]:
array_2d = pd.array([[400, 200], [337, 118], [324, 107]])

In [25]:
array_2d

<PandasArray>
[['gre score', 'toefl score'], [337, 118], [324, 107]]
Length: 3, dtype: object

In [27]:
array_2d[0][1]

'toefl score'

In [30]:
df = pd.DataFrame(array_2d)
df

     0    1
0  400  200
1  337  118
2  324  107

In [31]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [32]:
df.columns = ['gre score', 'toefl score']

In [33]:
df

   gre score  toefl score
0        400          200
1        337          118
2        324          107

In [35]:
index_cty = ['Ohio', 'Colorado', 'Utah', 'New York']
data = {'one': [0, 4, 8, 12], 'two':[1, 5, 9, 13], 'three': [3, 6, 10, 14], 
        'four': [3, 7, 11, 15]}
data

{'four': [3, 7, 11, 15],
 'one': [0, 4, 8, 12],
 'three': [3, 6, 10, 14],
 'two': [1, 5, 9, 13]}

In [36]:
df = pd.DataFrame(data)

In [37]:
df

   one  two  three  four
0    0    1      3     3
1    4    5      6     7
2    8    9     10    11
3   12   13     14    15

In [38]:
df.set_index(index_cty)

KeyError: ignored

In [39]:
data = {'Ohio': [0, 1, 3, 4], 'Colorado': [4, 5, 6, 7], 'Utah': [8, 9, 10, 11], 
        'New York': [12, 13, 14, 15]}
data

{'Colorado': [4, 5, 6, 7],
 'New York': [12, 13, 14, 15],
 'Ohio': [0, 1, 3, 4],
 'Utah': [8, 9, 10, 11]}

In [42]:
df = pd.DataFrame.from_dict(data, orient='index', columns=['one', 'two', 'three', 'four'])
df

          one  two  three  four
Ohio        0    1      3     4
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [43]:
df1 = df
df1.drop('Ohio')

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  two  three  four
Ohio        0    1      3     4
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [46]:
df1.drop('one', axis=1)

          two  three  four
Ohio        1      3     4
Colorado    5      6     7
Utah        9     10    11
New York   13     14    15

In [47]:
df1

          one  two  three  four
Ohio        0    1      3     4
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [49]:
df.drop(['Utah', 'Colorado'])

          one  two  three  four
Ohio        0    1      3     4
New York   12   13     14    15

In [50]:
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [51]:
s1

1    Alice
2     Jack
3    Molly
dtype: object

In [52]:
s2

Alice    1
Jack     2
Molly    3
dtype: int64

In [53]:
s2[1]

2

In [54]:
s2.iloc[1]

2

In [56]:
s1.loc[1]

'Alice'

In [57]:
s1.append(s2)

1        Alice
2         Jack
3        Molly
Alice        1
Jack         2
Molly        3
dtype: object

In [64]:
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3, 'Tya': 4, 'Tya': 100, 'Tya': 5})

In [65]:
s2

Alice    1
Jack     2
Molly    3
Tya      5
dtype: int64

In [67]:
for x in s2.iteritems():
  print(x)

('Alice', 1)
('Jack', 2)
('Molly', 3)
('Tya', 5)

In [68]:
df = pd.read_csv('/content/Admission_Predict.csv', index_col=0)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [69]:
df.columns = [x.lower().strip() for x in df.columns]
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [70]:
df = df[['gre score', 'toefl score']]
df.head()

            gre score  toefl score
Serial No.
1                 337          118
2                 324          107
3                 316          104
4                 322          110
5                 314          103

In [72]:
df[(df['toefl score']>105)&(df['toefl score']<115)].head()

            gre score  toefl score
Serial No.
2                 324          107
4                 322          110
7                 321          109
10                323          108
11                325          106

In [73]:
df[df['toefl score'].gt(105)&df['toefl score'].lt(115)].head()

            gre score  toefl score
Serial No.
2                 324          107
4                 322          110
7                 321          109
10                323          108
11                325          106

In [75]:
df[df['toefl score'].isin(range(106,115))].head()

            gre score  toefl score
Serial No.
2                 324          107
4                 322          110
7                 321          109
10                323          108
11                325          106

In [76]:
students = [{'Name': 'Alice',
             'Age': 20,
             'Gender': 'F'},
            {'Name': 'Jack',
             'Age': 22,
             'Gender': 'M'}]
students

[{'Age': 20, 'Gender': 'F', 'Name': 'Alice'},
 {'Age': 22, 'Gender': 'M', 'Name': 'Jack'}]

In [80]:
df = pd.DataFrame(students, index=['Mathematics', 'Sociology'])
df

              Name  Age Gender
Mathematics  Alice   20      F
Sociology     Jack   22      M

In [83]:
df.T['Mathematics']

Name      Alice
Age          20
Gender        F
Name: Mathematics, dtype: object

In [87]:
df.loc['Mathematics']

Name      Alice
Age          20
Gender        F
Name: Mathematics, dtype: object